<%@ Master Language="C#" AutoEventWireup="true"
    CodeBehind="Site.master.cs"
    Inherits="SIICOP_V1._2.SiteMaster" %>
<!DOCTYPE html>
<html>
    <head runat="server">
    <title>SIICOP</title>
    <asp:PlaceHolder runat="server">
    <link href="<%= ResolveUrl("~/Content/bootstrap.min.css") %>" rel="stylesheet" type="text/css" />
  
    <script src="<%= ResolveUrl("~/Scripts/sweetalert2.all.min.js") %>" type="text/javascript"></script>
    </asp:PlaceHolder>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">    
</head>
<body>
<form runat="server">
 <asp:ScriptManager runat="server" ID="ScriptManagerGlobal">
    <Scripts>
       <asp:ScriptReference Name="jquery" />
        <asp:ScriptReference Name="bootstrap" />
    </Scripts>
</asp:ScriptManager>
<div class="d-flex flex-column min-vh-100">
    <header class="shadow-sm"
        style="background-color:#611232;">
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center py-3">
        <!-- LOGO + TITULO -->
        <div class="d-flex align-items-center">
            <img src="<%= ResolveUrl("~/Imagenes/SIICOP_2.png") %>"
                 alt="SIICOP"
                 style="height:85px;" />
            <div class="ms-4">
                <h2 class="text-white mb-1 fw-bold">
                    SIICOP
                </h2>
                <small class="text-light">
                    Sistema Integral de Información,
                    Control Operativo y Productividad
                </small>
            </div>
        </div>
        <!-- USUARIO + ACCIONES -->
        <div class="text-end">
            <div class="text-white mb-2">
                <small>
                    👤 <%: Context.User.Identity.Name %>
                </small>
            </div>
            <a runat="server"
               href="~/Inicio/Launcher.aspx"
               class="btn btn-outline-light btn-sm me-1">
                Inicio
            </a>
           <%-- <a runat="server"
               href="~/TotalAccionesBeneficiados.aspx"
               class="btn btn-outline-light btn-sm me-1">
                Pendiente...
            </a>--%>

            <asp:LinkButton
                ID="btnLogout"
                runat="server"
                CssClass="btn btn-light btn-sm"
                OnClick="btnLogout_Click">
                Cerrar sesión
            </asp:LinkButton>
        </div>
     </div>
</div>
</header>
    <!-- CONTENIDO -->
    <main class="flex-grow-1">
                <div class="container-fluid py-4">
            <asp:ContentPlaceHolder
                ID="MainContent"
                runat="server" >
            </asp:ContentPlaceHolder>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="mt-auto py-3"
            style="background-color:#611232; color:white;">

        <div class="container">

            <p class="text-center mb-2">
                Se prohíbe la reproducción total o parcial del contenido de este sistema informático sin autorización expresa de la Secretaría de Seguridad Pública del Estado de Veracruz.
            </p>

            <p class="text-center mb-2">
                El acceso, uso o modificación no autorizada de la información contenida en este sistema podrá ser sancionado conforme a la legislación aplicable.
            </p>

            <p class="text-center mb-1">
                © <%: DateTime.Now.Year %> · GOBIERNO DEL ESTADO DE VERACRUZ
            </p>

            <p class="text-center mb-0">
                SECRETARÍA DE SEGURIDAD PÚBLICA
            </p>

        </div>

    </footer>

</div>


</form>

</body>
</html>