<%@ Master Language="C#" AutoEventWireup="true"
    CodeBehind="Site.master.cs"
    Inherits="SIICOP_V1._2.SiteMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>SIICOP</title>

    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
</head>

<body>

<form runat="server">

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a runat="server"
                       href="~/Inicio/Launcher.aspx">
                        Aplicaciones
                    </a>
                </li>

                <li>
                    <a runat="server"
                       href="~/TotalAccionesBeneficiados.aspx">
                        Inicio
                    </a>
                </li>

                <li>
                    <asp:LinkButton
                        ID="btnLogout"
                        runat="server"
                        OnClick="btnLogout_Click">
                        Cerrar sesión
                    </asp:LinkButton>
                </li>

            </ul>

        </div>
    </nav>

    <asp:ContentPlaceHolder
        ID="MainContent"
        runat="server" />

    <footer class="footer card pt-2" style="background-color: #611232;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12" style="color:white;">

                <p class="text-center">
                    Se prohíbe la reproducción total o parcial del contenido de este sistema informático sin autorización expresa de la Secretaría de Seguridad Pública del Estado de Veracruz. Esta plataforma deberá ser utilizada únicamente por personal autorizado para el desempeño de sus funciones institucionales.
                </p>

                <p class="text-center">
                    El acceso, uso o modificación no autorizada de la información contenida en este sistema podrá ser sancionado conforme a la legislación aplicable.
                </p>

                <p class="text-center">
                    &copy; <%: DateTime.Now.Year %> - GOBIERNO DEL ESTADO DE VERACRUZ · SECRETARÍA DE SEGURIDAD PÚBLICA
                </p>

                <p class="text-center">
                    VERACRUZ.GOB.MX
                </p>

            </div>
        </div>
    </div>
</footer>
</form>

</body>
</html>