<%@ Master Language="C#" AutoEventWireup="true"
    CodeBehind="Site.master.cs"
    Inherits="SIICOP_V1._2.SiteMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>SIICOP</title>

    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
</head>

<body>

<form runat="server">

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a runat="server"
                       href="~/Inicio/Launcher.aspx">
                        Aplicaciones
                    </a>
                </li>

                <li>
                    <a runat="server"
                       href="~/TotalAccionesBeneficiados.aspx">
                        Inicio
                    </a>
                </li>

                <li>
                    <asp:LinkButton
                        ID="btnLogout"
                        runat="server"
                        OnClick="btnLogout_Click">
                        Cerrar sesión
                    </asp:LinkButton>
                </li>

            </ul>

        </div>
    </nav>

    <asp:ContentPlaceHolder
        ID="MainContent"
        runat="server" />

</form>

</body>
</html>