<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>

	<add name="DefaultConnection" 
		 providerName="System.Data.SqlClient" 
		 connectionString="Data Source=10.8.3.115;Initial Catalog=dbMmshpUsuariosDTI;User ID=sassp;Password=s4$5pBr2025; MultipleActiveResultSets=True" />

	<add name="SIICOPEntities" 
		 connectionString="metadata=res://*/Datos.SIICOB.csdl|res://*/Datos.SIICOB.ssdl|res://*/Datos.SIICOB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.8.3.115;initial catalog=SIICOP;persist security info=True;user id=sassp;password=s4$5pBr2025;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
		 providerName="System.Data.EntityClient" />

</connectionStrings>
